.container {
	overflow: hidden;
}

.item {
	width: 100%;
	overflow: hidden;
}

.item-checkbox {
	position: absolute;
	opacity: 0;
	/* move to background, so label captures all events (e.g. hover) */
	z-index: -1;
}

.item-label {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.item-label:after {
	content: var(--menu-icon);
	margin-right: 8px;
	text-align: center;
	transition: transform var(--menu-transition-duration);
}

.item-content {
	max-height: 0;
	transition: all var(--menu-transition-duration);
}

.item-checkbox:checked + .item-label:after {
	transform: rotate(90deg);
}

.item-checkbox:checked ~ .item-content {
	max-height: 100vh;
}
