.container {
	overflow: hidden;
}

.item {
	width: 100%;
	overflow: hidden;
}

.item-checkbox {
	display: none;
}

.item-label {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.item-label:hover {
	color: var(--alt-color);
}

.item input:checked + .item-label {
	color: var(--alt-color);
}

.item-label:after {
	content: var(--menu-icon);
	transform: var(--menu-icon-vertical-closed);
	text-align: center;
}

.animated .item-label:after {
	transition: transform var(--menu-transition);
}

.item-content {
	max-height: 0;
}

.animated .item-content {
	transition: all var(--menu-transition);
}

.item-checkbox:checked + .item-label:after {
	transform: var(--menu-icon-vertical-open);
}

.item-checkbox:checked ~ .item-content {
	/* this needs to be very large so the content can always be accommodated,
	   even if there's a lot of it on a very small screen */
	max-height: 10000vh;
}
