.container {
	overflow: hidden;
}

.item {
	width: 100%;
	overflow: hidden;
}

.item-checkbox {
	position: absolute;
	opacity: 0;
	/* move to background, so label captures all events (e.g. hover) */
	z-index: -1;
}

.item-label {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.item-label:hover {
	color: var(--alt-color);
}

.item input:checked + .item-label {
	color: var(--alt-color);
}

.item-label:after {
	content: var(--menu-icon);
	transform: var(--menu-icon-vertical-closed);
	text-align: center;
}

.animated .item-label:after {
	transition: transform var(--menu-transition);
}

.item-content {
	max-height: 0;
}

.animated .item-content {
	transition: all var(--menu-transition);
}

.item-checkbox:checked + .item-label:after {
	transform: var(--menu-icon-vertical-open);
}

.item-checkbox:checked ~ .item-content {
	max-height: 100vh;
}
