/* based on global.css, fonts.css */

.date {
	text-align: center;
	color: var(--fg-color-shade-2);
	font-size: 16px;
}

.title {
	text-align: center;
	margin: 0.5em 0;
}

.tags {
	font-family: 'BedsteadRegular', monospace;
	font-size: 16px;
	display: flex;
	justify-content: center;
}

.tags > li {
	padding: 0 1em;
	text-indent: 0;
}

.tags > li::before {
	content: none;
}

.tags a:visited {
	color: unset;
}

.tags a:hover {
	color: var(--alt-color);
}

.image {
	margin: 2em 0;
}
