:global(#codefx-forward),
:global(#codefx-catch-all) {
	transform: translateY(-100vh);
	opacity: 0;
	transition: opacity var(--transition-duration), transform 0s var(--transition-duration);
}

:global(#codefx-forward):target,
:global(#codefx-catch-all):target {
	transform: translateY(0);
	opacity: 1;
	/* If the reader has a cookie, they should never see the popover,
	   but JS takes a moment to run and remove "#codefx-forward" from
	   the URL. The transition delay (last value) should prevent the
	   popover from being visible for a split second. */
	transition: opacity var(--transition-duration) 1s;
}

.background {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;

	overflow-y: scroll;
	background-color: rgb(0, 0, 0, 0.6);
}

.popover {
	margin: 80px var(--medium-margin) 0;

	border: var(--progress-bar-height) solid var(--alt-color);
	background-color: var(--bg-color);
}

.title {
	margin: 0.5em 0;

	text-align: center;
	color: var(--alt-color);
}

.text {
	width: 66%;
	max-width: 1000px;
	margin: 1em auto;

	font-size: var(--larger-font-size);
}

.callout {
	color: var(--alt-color);
}

.noJs {
	/* empty, but needed as a reference */
}

.js.choices {
	display: none;
}

.choices {
	display: grid;
	grid-gap: 1em;

	margin: 2em 0 1.5em;
}

.choice {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.choice .button {
	color: var(--bg-color);
	background-color: var(--alt-color);
	border: 1px solid var(--alt-color);
	font-weight: bold;
	text-decoration: none;

	padding: 0.25em 1em;
}

.choice .button:hover {
	color: var(--fg-color);
	background-color: var(--bg-color);
	border: 1px solid var(--alt-color);
}

.choice p {
	font-size: var(--regular-font-size);
	margin: 0;
}

.catch-all {
	display: none;
}

:global(#codefx-catch-all):target .catch-all {
	display: unset;
}

@media all and (min-width: 800px) {
	.choices {
		grid-auto-flow: column;
	}
}

@media all and (min-width: 1000px) {
	.popover {
		width: 80%;
		max-width: 1400px;
		margin: 80px auto 0;
	}
}
