.header {
	margin: 1em 0 2em;
	grid-row-gap: 1em;
	row-gap: 1em;
}

/* for uniform distances, row-gap is used to spread header elements out */
.header * {
	margin-top: 0;
	margin-bottom: 0;
}

.highlight {
	color: var(--alt-color);
}

.first-line {
	text-align: center;
	color: var(--fg-color-shade-2);
	font-size: var(--smaller-font-size);
}

.title {
	text-align: center;
}

.tags {
	font-size: var(--smaller-font-size);
	display: flex;
	justify-content: center;
}

.tags > *:not(:last-child):after {
	white-space: pre;
	content: "   ";
}

.tags > .channel:after {
	color: var(--fg-color);
	content: "  //  ";
}

.intro {
	font-size: var(--larger-font-size);
}
