.links a {
	text-decoration: none;
}

.links a:hover > *,
.links a:visited:hover > * {
	color: var(--alt-color);
}

.links > *:not(:last-child):after {
	white-space: pre;
	content: "   ";
}

.links .text {
	text-transform: uppercase;
	display: none;
}

.texts .text {
	display: unset;
}

.texts .icon {
	display: none;
}

.texts > *:not(:last-child):after {
	color: var(--alt-color);
	white-space: unset;
	content: " // ";
}

.icon {
	font-size: 1.2em;
}

@media all and (min-width: 600px) {
	.textsFrom600 .icon {
		display: none;
	}

	.textsFrom600 .text {
		display: unset;
	}

	.textsFrom600 > *:not(:last-child):after {
		color: var(--alt-color);
		white-space: unset;
		content: " // ";
	}
}

@media all and (min-width: 1200px) {
	.textsFrom1200 .icon {
		display: none;
	}

	.textsFrom1200 .text {
		display: unset;
	}

	.textsFrom1200 > *:not(:last-child):after {
		color: var(--alt-color);
		white-space: unset;
		content: " // ";
	}
}
