.container {
	color: var(--fg-color-shade-2);
	font-size: var(--smaller-font-size);
	text-transform: uppercase;
}

.container a {
	text-decoration: none;
}

.container > *:not(:last-child):after {
	color: var(--alt-color);
	white-space: pre;
	content: " // ";
}

.container a:visited {
	color: var(--fg-color-shade-2)
}

.container a:hover {
	color: var(--alt-color)
}
