.container {
	display: flex;
	height: 100%;
}

.nav {
	position: sticky;
	bottom: var(--narrow-margin);
	align-self: flex-end;
	width: 100%;

	/* otherwise pop-out nav is beneath post list entries */
	z-index: 1;

	scrollbar-color: var(--fg-color) var(--bg-color-shade-1);
	scrollbar-width: thin;
}

.nav::-webkit-scrollbar-thumb {
	background-color: var(--fg-color);
}

.title {
	display: none;
}

.largeNav {
	display: none;
	font-size: var(--smaller-font-size);
}

.largeHeader {
	/* avoid `0.5em` because indent should be the same for .title and .entry.title */
	padding: 0 calc(var(--regular-font-size) / 2);
	font-weight: bold;
}

.sideHeader {
	font-weight: bold;
	text-transform: uppercase;
}

@media all and (min-width: 1000px) {
	.nav {
		background-color: var(--bg-color);
		border: 1px solid var(--fg-color);

		/* the 120 px are the estimated (!) height of the header plus a little margin */
		max-height: calc(100vh - 120px);
		overflow-y: auto;
	}

	.title {
		display: block;

		color: var(--bg-color);
		background-color: var(--fg-color);
		/* without the -1px some browsers/zoom levels show a pixel between title and surrounding border */
		margin: -1px 0 0 0;
		/* avoid `0.5em` because indent should be the same for .title and .entry.title */
		padding: 0 calc(var(--regular-font-size) / 2);
		font-size: var(--regular-font-size);
		font-weight: bold;
	}

	.largeNav {
		display: unset;
	}

	.sideNav {
		display: none;
	}
}
