.content > *:nth-child(2) {
	/* no top margin on first element after toc aligns the two */
	margin-top: 0;
}

.content > *:last-child {
	/* no bottom margin aligns last line of content with toc */
	margin-bottom: 0;
}

.play {
	color: var(--alt-color);
	text-decoration: none;
	margin-left: -24px;
	margin-right: 6px;
}

.play:visited {
	color: var(--alt-color);
}

.play:hover {
	color: var(--fg-color);
}

.play:before {
	content: '▶️';
}
