.container {
	display: flex;
	height: 100%;
}

.nav {
	position: sticky;
	bottom: 100px;
	align-self: flex-end;
	width: 100%;
	margin-top: 1em;

	background-color: var(--bg-color);
	border: 1px solid var(--fg-color);

	font-size: 16px;
}

.title {
	color: var(--bg-color);
	background-color: var(--fg-color);
	margin: 0;
	padding: 0 8px;
	font-size: 18px;
	font-weight: bold;
}

.entry-title {
	padding: 0 8px;
	font-weight: bold;
}

.repo {
	margin: 0;
	padding: 0.5em 0.5em 0.5em 1.25em;
}
