.block {
	margin: 1em 0;
}

.block::after {
	white-space: pre;
	display: block;
	text-align: center;
}

.article::after {
	content: "//\Apost.end\A//";
}

.course::after {
	/* Because `Ac` is a valid hexadecimal number,
	   explicitly use six digits to force the escape to end after `A`  */
	content: "//\00000Acourse.end\A//";
}

.page::after {
	content: "//\Apage.end\A//";
}

.tag::after {
	content: "//\Atag.end\A//";
}

.talk::after {
	content: "//\Atalk.end\A//";
}

.video::after {
	content: "//\Avideo.end\A//";
}

