.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	justify-items: stretch;
}

.card {
	height: 240px;
	opacity: 1;
	transition: opacity var(--transition-duration);
}

.hidden {
	opacity: 0;
}

:global(.highlight-first-post-card) .card:first-child {
	grid-column: 1 / span 2;
	height: 480px;
}

