.block {
	margin: 1em 0;
}

.block::after {
	white-space: pre;
	display: block;
	text-align: center;
}

.article::after {
	content: "//\Apost.end\A//";
}

.page::after {
	content: "//\Apage.end\A//";
}

.tag::after {
	content: "//\Atag.end\A//";
}

.video::after {
	content: "//\Avideo.end\A//";
}

