.entry {
	padding: 0 0.5em 0 1.5em;
}

.toc {
	/* ToC needs a slightly smaller left margin to properly align it with other entries */
	padding-left: 1.25em;
}

.entry > *:first-child {
	margin-top: 0;
	padding-top: 0;
}

.entry > *:last-child {
	margin-bottom: 0.5em;
}

.seriesList li {
	padding-bottom: 0.5em;
}

.currentPost {
	color: var(--fg-color-shade-1)
}

.icons {
	font-size: var(--regular-font-size);
	text-align: center;
}
