.image {
	height: 100%;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	font-size: var(--small-font-size);
	text-decoration: none;

	background-color: rgba(var(--alt-color-rgb), 0);
	transition: background-color var(--menu-transition), color var(--menu-transition);
}

:global(.highlight-first-post-card) .card:first-child .content {
	font-size: var(--regular-font-size);
}

.content:visited {
	color: var(--fg-color);
}

.content .channel {
	transition: color var(--menu-transition);
}

.top {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;

	grid-template-areas:
		"title title"
		"channel tags";

	padding: 0.5em 1em;
	line-height: 1.5;

	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color var(--menu-transition);
}

.title {
	grid-area: title;
	font-size: var(--regular-font-size);
	font-weight: bold;
}

:global(.highlight-first-post-card) .card:first-child .title {
	font-size: var(--large-font-size);
}

.channel {
	grid-area: channel;
	overflow: hidden;

	transition: color var(--menu-transition);
}

.channel:after {
	color: var(--fg-color);
	font-family: "Bedstead", monospace;
	content: " // ";
	white-space: pre;
	transition: color var(--menu-transition);
}

.tags {
	grid-area: tags;
	overflow: hidden;
	max-height: 8em;
}

.description {
	max-height: 0;
	overflow: hidden;
	margin: 0;

	padding: 0 1em;
	line-height: 1.5;

	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color var(--menu-transition), max-height var(--menu-transition),
		padding var(--menu-transition);
}

.date {
	float: right;
	text-align: right;
	white-space: nowrap;
}

/*
 * HOVER
 */

.content:hover,
.content:hover .channel,
.content:hover .channel:after {
	color: var(--alt-contrast-color);
}

.card:hover .content {
	background-color: rgba(var(--alt-color-rgb), 0.8);
}

.card:hover .top,
.card:hover .description {
	background-color: rgba(0, 0, 0, 0);
}

.card:hover .description {
	max-height: 7em;
	padding-bottom: 0.5em;
}

.card:first-child:hover .description {
	max-height: 4.5em;
}
