.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	justify-items: stretch;
}

.card {
	height: 220px;
	opacity: 1;
	transition: opacity var(--transition-duration);
}

.hidden {
	opacity: 0;
}

.removed {
	display: none;
}

@media screen and (min-width: 600px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}

	/* Make the first not-.removed .card larger using this one awesome trick: https://stackoverflow.com/a/8539107/2525313 */
	:global(.highlight-first-post-card) .card:not(.removed) {
		grid-column: 1 / span 2;
		height: 450px;
	}
	:global(.highlight-first-post-card) .card:not(.removed) ~ .card:not(.removed) {
		grid-column: unset;
		height: 220px;
	}
}
