/* based on global.css, fonts.css */

.header {
	margin: 1em 0;
}

.date {
	text-align: center;
	color: var(--fg-color-shade-2);
	font-size: var(--smaller-font-size);
}

.title {
	text-align: center;
	margin: 0.5em 0;
}

.tags {
	font-size: var(--smaller-font-size);
	display: flex;
	justify-content: center;
}

.tags > *:not(:last-child):after {
	white-space: pre;
	content: "   ";
}

.tags a:visited {
	color: unset;
}

.tags a:hover {
	color: var(--alt-color);
}

.image {
	margin: 1em 0 0;
}
