.coordinates {
	margin-left: 0;
	margin-top: 0;
}

.coordinates dd {
	margin-inline-start: 1em;
}

.else > *:first-child {
	/* `inline-block` is needed for `:first-letter` below
	   https://stackoverflow.com/a/5577380/2525313 */
	display: inline-block;
}

.else > *:first-child:first-letter {
	text-transform: capitalize;
}

.else > *:not(:first-child):before {
	content: ", ";
}
