.container {
	background-color: var(--bg-color-shade-1);
}

.active {
	cursor: pointer;
}

.bar {
	background-color: var(--alt-color);
	height: calc(3 * var(--progress-bar-height));
	width: 0;
}

@media all and (min-height: 800px) {
	.bar {
		height: var(--progress-bar-height);
	}
}
