.pull {
	color: var(--alt-color);
	font-size: var(--large-font-size);
	line-height: 1.5;

	/* the 4px align the baseline of pull quote
	   and neighboring paragraph */
	margin: 4px 0 0;
}

.pull code {
	--code-alt-color: var(--fg-color);
	--code-fg-color: var(--alt-color);
}

.block {
	margin: 0.5em 0;
	padding-left: 1em;
	border-left: 1px solid var(--alt-color);
}
