.footer {
	border-top: var(--separator-height) solid var(--alt-color);
	margin-top: 2em;
	padding: 0.5em 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"logo"
		"channels"
		"meta";
	grid-gap: 1em;
}

.logo {
	grid-area: logo;
	justify-self: center;
	align-self: center;

	/* the link around the logo adds some weird distance below it;
	   add a similar amount to top for symmetry*/
	margin-top: 0.5em;
}

.channels {
	grid-area: channels;
	justify-self: center;
	align-self: center;
}

.channels a,
.channels a:visited {
	color: var(--fg-color);
}

.meta {
	grid-area: meta;
	justify-self: center;
	align-self: center;
}

@media all and (min-width: 600px) {
	.container {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"logo channels"
			"logo meta";
		grid-gap: 0em;
	}

	.logo {
		justify-self: start;
	}

	.channels {
		justify-self: end;
	}

	.meta {
		justify-self: end;
	}
}
