.rootContainer > div {
	overflow-x: auto;
	overflow-y: hidden;

	/* would be nice to use flexbox and justify-content/self,
	   but then the div is full-width without scroll bar, blowing out the layout */
	text-align: center;
	/* below, the icons get a right margin - "revert" it here to align with right edge of layout */
	margin-right: -1em;
	/* Firefox needs the explicit max-width here or the div blows out the layout */
	max-width: calc(100vw - var(--narrow-sidebar-width) / 2 - var(--narrow-margin));
}

.rootContainer > div::-webkit-scrollbar,
.rootContainer > div::-webkit-scrollbar-track {
	height: 0.2rem;
}

.menu {
	text-transform: uppercase;
	white-space: nowrap;
	/* clicking a menu entry twice to open and close it,
	   shouldn't select the text */
	user-select: none;
}

.menu a {
	text-decoration: none;
}

.menu a:visited {
	color: var(--bg-color);
}

.menu a:hover {
	color: var(--alt-color);
}

.menu input {
	display: none;
}

.menu label {
	cursor: pointer;
}

.menu label:hover {
	color: var(--alt-color);
}

.menu input:checked + label {
	color: var(--alt-color);
}

.animated label:after {
	transition: var(--menu-icon-transition);
}

/*
 * TOP LEVEL
 */

.top-level-entry {
	display: inline-block;
	text-align: left;
}

.top-level-label {
	position: relative;
	/* the rotated icon leads to a spurious scroll bar - adding a bit of margin fixes that */
	margin-right: 1em;
}

.top-level-label:after {
	display: inline-block;
	content: var(--menu-icon);
	transform: var(--menu-icon-vertical-closed);
	margin-left: 0.5em;
	text-align: center;
}

.top-level-checkbox:checked + .top-level-label:after {
	transform: var(--menu-icon-vertical-open);
}

/*
 * SECOND LEVEL
 */

.second-level-outer-container {
	max-height: 0;
	overflow: hidden;
	position: absolute;
	left: calc(var(--narrow-margin) + 2em);
	right: calc(var(--narrow-margin) + 2em);

	margin: 0 -2em;
}

.top-level-checkbox:checked ~ .second-level-outer-container {
	max-height: 100vh;
	overflow: unset;
}

.second-level-container {
	color: var(--bg-color);
	background-color: var(--fg-color);
	padding: 1em 0;
	margin-top: 0.75em;
}

.second-level-entry {
	position: relative;
}

.second-level-entry > *:not(.third-level-outer-container) {
	margin: 0 2em;
}

.second-level-label:after {
	display: inline-block;
	content: var(--menu-icon);
	transform: var(--menu-icon-vertical-closed);
	margin-left: 3em;
}

.second-level-checkbox:checked + .second-level-label:after {
	transform: var(--menu-icon-vertical-open);
}

/*
 * THIRD LEVEL
 */

.third-level-outer-container {
	max-height: 0;
	overflow: hidden;
}

.animated .third-level-outer-container {
	transition: max-height var(--menu-transition);
}

.second-level-checkbox:checked ~ .third-level-outer-container {
	max-height: 100vh;
}

.third-level-container {
	background-color: var(--fg-color-shade-1);
	white-space: normal;
	padding: 1em 2em;
}

.third-level-entry:not(:last-child) {
	margin-right: 1em;
}

.tag {
	text-transform: initial;
	letter-spacing: initial;
}

@media all and (min-width: 600px) {
	.rootContainer > div {
		margin-right: -1.5em;
	}

	.top-level-label {
		margin-right: 1.5em;
	}
}

@media all and (min-width: 800px) {
	.rootContainer > div {
		/* Firefox needs the explicit max-width here or the div blows out the layout */
		max-width: calc(100vw - var(--narrow-sidebar-width) * 2 - var(--medium-margin));
	}
}

@media all and (min-width: 1000px) {
	.rootContainer > div {
		max-width: unset;
	}

	.second-level-container:before {
		/* KEEP IN SYNC WITH OTHER MARKER */
		color: var(--fg-color);
		position: absolute;
		content: "◆";
		font-size: 2.5em;
		/* carefully pixel-pushed, so tip of the element is not cut off during animation */
		margin-top: -1.15em;
		margin-left: 1em;
		pointer-events: none;
	}

	.second-level-outer-container {
		left: unset;
		right: unset;
	}

	.second-level-label {
		display: flex;
		justify-content: space-between;
	}

	.second-level-label:after {
		transform: var(--menu-icon-horizontal-closed);
		margin-left: 3em;
	}

	.second-level-checkbox:checked + .second-level-label:after {
		transform: var(--menu-icon-horizontal-open);
	}

	.third-level-outer-container {
		position: absolute;
		left: 100%;
		top: -1em;
	}

	.third-level-container {
		width: 400px;
	}

	.animated .third-level-outer-container {
		transition: unset;
	}
}
