.footer {
	border-top: 6px solid var(--alt-color);
	margin-top: 2em;
	padding: 1em 0;
}

.container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"logo channels"
		"logo meta";
}

.logo {
	grid-area: logo;
	justify-self: start;
	align-self: center;
}

.channels {
	grid-area: channels;
	justify-self: end;
	align-self: center;
}

.meta {
	grid-area: meta;
	justify-self: end;
	align-self: center;
}
