.header {
	position: sticky;
	top: 0;
	background-color: var(--bg-color);
	/* for some unknown reason title images scroll on top of the header */
	z-index: 1;

	letter-spacing: 1px;
}

.container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"logo links"
		"logo menu";
}

.logo {
	grid-area: logo;
	justify-self: start;
	align-self: center;
}

.channels {
	grid-area: links;
	justify-self: end;
}

.channels a,
.channels a:visited {
	color: var(--fg-color-shade-2);
}

.menu {
	grid-area: menu;
	justify-self: end;
}
