.channel, .tag {
	font-family: 'BedsteadRegular', monospace;
}

.channel a, .tag a {
	text-decoration: none;
}

.channel a:visited, .tag a:visited {
	color: unset;
}

.channel a:hover, .tag a:hover {
	color: var(--alt-color);
}

.channel.colorize, .channel.selected, .tag.colorize, .tag.selected {
	color: var(--alt-color)
}

.channel.colorize a:hover, .channel.selected a:hover, .tag.colorize a:hover, .tag.selected a:hover {
	color: var(--fg-color)
}
