.taglet {
	font-family: "Bedstead", monospace;
}

.taglet {
	text-decoration: none;
}

.taglet:visited {
	color: unset;
}

a.taglet:hover {
	color: var(--alt-color);
}

.taglet.colorize,
.taglet.selected {
	color: var(--alt-color);
}

a.taglet.colorize:hover,
a.taglet.selected:hover {
	color: var(--fg-color);
}
