.toc ul {
	margin: 0;
	margin-left: 1.5em;
	list-style: none;
	line-height: 1.5em;
}

.toc > ul:first-child {
	margin-left: 0;
}

.toc li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding: 0;
}

.toc li code {
	/* prevent otherwise allowed line breaks in code snippets, to force ellipsis */
	white-space: pre;
	word-break: normal;
}

/*
	It would have been nice to use ::marker instead of ::before, but I didn't
	get it to look properly across browsers. To work with `overflow: hidden`
	(which prevents long headers from wrapping in the ToC), I need to put the
	marker inside the element (i.e. `list-style-position: inside`), but then
	Firefox and Webkit picked different right margins (0 vs 1em) and neither
	allows to reset it.
	(See https://bugs.chromium.org/p/chromium/issues/detail?id=644630)
*/

.toc li::before {
	color: var(--alt-color);
	content: "├";
	font-size: 1.5em;
	margin-right: 0.25em;
}

.toc li:first-child::before {
	content: "┌";
}

.toc li:last-child::before {
	content: "└";
}

.toc li:only-child::before {
	content: "╶";
}

.toc a {
	text-decoration: none;
}

.toc a:visited {
	color: unset;
}

.toc a:hover, .toc a:hover * {
	color: var(--alt-color);
}

.toc .highlighted, .toc .highlighted * {
	color: var(--alt-color);
}

.toc .highlighted:visited, .toc .highlighted:visited * {
	color: var(--alt-color);
}
