.link {
	display: grid;
	grid-template-columns: 1fr 20% 1fr;
	grid-template-rows: 1fr min-content 1fr min-content;

	/* this variable is used in the SVG; we reuse it for the text */
	--button-color: var(--bg-color-transparent);
	text-decoration: none;
}

.link .thumbnail {
	grid-column: 1 / span 3;
	grid-row: 1 / span 4;
}

.link .button {
	grid-column: 2;
	grid-row: 2;
	z-index: 2;

}

.link .text {
	grid-column: 1 / span 3;
	grid-row: 4;
	z-index: 2;

	text-align: center;
	background-color: var(--button-color);
	margin: 0.5em 0;
}

.link:visited {
	text-decoration: none;
}

.link:hover {
	text-decoration: none;
	color: var(--fg-color);
	--button-color: var(--alt-color);
}

