body {
	--bg-color: #262429;
	--bg-color-transparent: rgb(38, 36, 41, 0.9);
	--bg-color-shade-1: #404040;
	--bg-color-shade-2: #606060;

	--fg-color: white;
	--fg-color-shade-1: #ccc;
	--fg-color-shade-2: #aaa;

	--alt-color: var(--theme-green);
	--alt-color-rgb: var(--theme-green-rgb);
	--alt-contrast-color: var(--bg-color);

	--theme-green: #69ea7d;
	--theme-green-rgb: 105, 234, 125;
	--theme-blue-dark: #2368CB;
	--theme-blue-dark-rgb: 35, 104, 203;
	--theme-blue-light: #26B9D7;
	--theme-blue-light-rgb: 38, 185, 215;
	--theme-pink: #E83D89;
	--theme-pink-rgb: 232, 61, 137;
	--theme-purple: #A83EA6;
	--theme-purple-rgb: 168, 62, 166;
	--theme-red: #EF4E4E;
	--theme-red-rgb: 239, 78, 78;
	--theme-orange: #EFB74E;
	--theme-orange-rgb: 239, 183, 78;
	/* Cyberpunk 2077 Yellow! */
	--theme-yellow: #FDF800;
	--theme-yellow-rgb: 253, 248, 0;

	--codefx-color: #ffa500;
	--rss-color: #f0941a;
	--books-color: #7e180a;
	--discord-color: #7389dc;
	--github-color: #f6f8fa;
	--hire-color: #666;
	--medium-color: #18b475;
	--stackoverflow-color: #f58023;
	--talks-color: #ff8c6a;
	--twitch-color: #a970ff;
	--twitter-color: #1da1f3;
	--youtube-color: #da281e;
	--facebook-color: #1877F2;
	--linkedin-color: #2977C9;
	--xing-color: #C6F16D;
	--vk-color: #4A76A8;
	--reddit-color: #F73000;
	--hackernews-color: #FF6600;

	color: var(--fg-color);
	background: var(--bg-color);
}

.article,
.articles {
	--alt-color: var(--theme-green);
	--alt-color-rgb: var(--theme-green-rgb);
	--alt-contrast-color: var(--bg-color);
}

.list {
	--alt-color: var(--theme-green);
	--alt-color-rgb: var(--theme-green-rgb);
	--alt-contrast-color: var(--bg-color);
}

.event,
.events,
.page,
.pages {
	--alt-color: var(--theme-yellow);
	--alt-color-rgb: var(--theme-yellow-rgb);
	--alt-contrast-color: var(--bg-color);
}

/* text in schedule.js references that talks are pink */
.talk,
.talks {
	--alt-color: var(--theme-pink);
	--alt-color-rgb: var(--theme-pink-rgb);
	--alt-contrast-color: var(--fg-color);
}

.course,
.courses {
	--alt-color: var(--theme-blue-dark);
	--alt-color-rgb: var(--theme-blue-dark-rgb);
	--alt-contrast-color: var(--fg-color);
}

.video,
.videos {
	--alt-color: var(--theme-red);
	--alt-color-rgb: var(--theme-red-rgb);
	--alt-contrast-color: var(--fg-color);
}

/* text in schedule.js references that talks are purple */
.stream,
.streams {
	--alt-color: var(--theme-purple);
	--alt-color-rgb: var(--theme-purple-rgb);
	--alt-contrast-color: var(--fg-color);
}

.rss {
	--alt-color: var(--rss-color);
}

.twitter {
	--alt-color: var(--twitter-color);
}

.discord {
	--alt-color: var(--discord-color);
}

.medium {
	--alt-color: var(--medium-color);
}

.youtube {
	--alt-color: var(--youtube-color);
}

.twitch {
	--alt-color: var(--twitch-color);
}

.github {
	--alt-color: var(--github-color);
}

.stackoverflow {
	--alt-color: var(--stackoverflow-color);
}

.facebook {
	--alt-color: var(--facebook-color);
}

.linkedin {
	--alt-color: var(--linkedin-color);
}

.xing {
	--alt-color: var(--xing-color);
}

.vk {
	--alt-color: var(--vk-color);
}

.reddit {
	--alt-color: var(--reddit-color);
}

.hackernews {
	--alt-color: var(--hackernews-color);
}
