
	/********
	 * NOTE *
	 ********

	 CHANGES IN THIS FILE REQUIRE CHANGES IN fonts.js !

	 */

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: normal;
	src: local("Source Sans Pro Regular"), local("Source-Sans-Pro-Regular"),
		url("../fonts/SourceSansPro-Regular.woff2") format("woff2"),
		url("../fonts/SourceSansPro-Regular.woff") format("woff"),
		url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: bold;
	src: local("Source Sans Pro SemiBold"), local("Source-Sans-Pro-SemiBold"),
		url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
		url("../fonts/SourceSansPro-SemiBold.woff") format("woff"),
		url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: normal;
	src: local("Source Sans Pro Italic"), local("Source-Sans-Pro-Italic"),
		url("../fonts/SourceSansPro-Italic.woff2") format("woff2"),
		url("../fonts/SourceSansPro-Italic.woff") format("woff"),
		url("../fonts/SourceSansPro-Italic.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: bold;
	src: local("Source Sans Pro SemiBoldItalic"), local("Source-Sans-Pro-SemiBoldItalic"),
		url("../fonts/SourceSansPro-SemiBoldItalic.woff2") format("woff2"),
		url("../fonts/SourceSansPro-SemiBoldItalic.woff") format("woff"),
		url("../fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Bedstead";
	font-style: normal;
	font-weight: normal;
	src: local("Bedstead Regular"), local("Bedstead-Regular"), local("BedsteadRegular"),
		url("../fonts/Bedstead-Regular.otf") format("opentype");
	font-display: swap;
}

body {
	--large-font-size: 24px;
	--regular-font-size: 18px;
	--small-font-size: 16px;
	--tiny-font-size: 14px;

	font-family: "Source Sans Pro", sans-serif;
	font-size: var(--regular-font-size);
	font-weight: normal;
	line-height: 1.75;

	--code-font: "Bedstead", monospace;
}

h1 {
	font-size: 42px;
	font-weight: bold;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 24px;
	font-weight: bold;
}

.h3 {
	font-size: 24px;
	font-weight: bold;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

dt {
	font-weight: bold;
}

code {
	font-family: var(--code-font);
}

pre > code {
	font-size: var(--small-font-size);
}
